parameters:
	siteName: Nette Webauthn

application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter

di:
	export:
		parameters: no
		tags: no

session:
	debugger: true
	expiration: 14 days


services:
	- App\Lib\SiteName(%siteName%)
	- App\Lib\Authenticator

	signinFormFactory:
		class: App\Forms\SignInFormFactory

	router: App\Router\RouterFactory::createRouter
