parameters:
	siteName: Nette Webauthn

	webauthn_creation_profiles:
		default:                                # Unique name of the profile
			rp:
				name: %siteName%
				id: %rpId%
				icon: null
			challenge_length: 32                # (in bytes)
			attestation_conveyance: Webauthn\PublicKeyCredentialCreationOptions::ATTESTATION_CONVEYANCE_PREFERENCE_NONE
			authenticator_selection_criteria:   # Optional. See https://www.w3.org/TR/webauthn/#authenticatorSelection
				attachment_mode: Webauthn\AuthenticatorSelectionCriteria::AUTHENTICATOR_ATTACHMENT_CROSS_PLATFORM
				require_resident_key: true
				user_verification: Webauthn\AuthenticatorSelectionCriteria::USER_VERIFICATION_REQUIREMENT_PREFERRED
			public_key_credential_parameters:
				- Cose\Algorithms::COSE_ALGORITHM_ES256
				- Cose\Algorithms::COSE_ALGORITHM_RS256
			extensions: []
			timeout: 60000                      # (in milliseconds)
	webauthn_request_profiles:
		default:
			rp_id: %rpId%
			challenge_length: 32
			user_verification: Webauthn\AuthenticatorSelectionCriteria::USER_VERIFICATION_REQUIREMENT_PREFERRED
			extensions: []
			timeout: 60000

application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter

database:
	dsn: 'sqlite:/app/.data/main.sqlite3'

di:
	export:
		parameters: no
		tags: no

session:
	debugger: true
	expiration: 14 days


services:
	- App\Forms\SignInFormFactory
	- App\Lib\SiteName(%siteName%)
	- App\Lib\UserRepository
	- App\Lib\Webauthn\FirstFactorAuthenticator
	- App\Lib\Webauthn\CredentialSourceRepository
	- App\Lib\Webauthn\PublicKeyCredentialCreationOptionsFactory(%webauthn_creation_profiles%)
	- App\Lib\Webauthn\PublicKeyCredentialRequestOptionsFactory(%webauthn_request_profiles%)

	- Nyholm\Psr7\Factory\Psr17Factory
	- Webauthn\AttestationStatement\AttestationObjectLoader
	- Webauthn\AuthenticationExtensions\ExtensionOutputCheckerHandler
	- Webauthn\AuthenticatorAssertionResponseValidator
	- Webauthn\AuthenticatorAttestationResponseValidator
	- Webauthn\PublicKeyCredentialLoader
	- Webauthn\TokenBinding\IgnoreTokenBindingHandler

	coseAlgorithmSignatureES256: Cose\Algorithm\Signature\ECDSA\ES256
	coseAlgorithmSignatureRS256: Cose\Algorithm\Signature\RSA\RS256
	coseAlgorithmManager:
		class: Cose\Algorithm\Manager
		setup:
			- add(@coseAlgorithmSignatureES256)
			- add(@coseAlgorithmSignatureRS256)

	webauthnNoneAttestationStatementSupport: Webauthn\AttestationStatement\NoneAttestationStatementSupport
	webatuhnAttestationStatementSupportManager:
		class: Webauthn\AttestationStatement\AttestationStatementSupportManager
		setup:
			- add(@webauthnNoneAttestationStatementSupport)

	router: App\Router\RouterFactory::createRouter
