extensions:
	monolog: Contributte\Monolog\DI\MonologExtension


application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter

database:
	dsn: ::getenv(DATABASE_URL)

di:
	export:
		parameters: no
		tags: no

monolog:
	channel:
		default: # default channel is required
			handlers:
				-
					type: Monolog\Handler\StreamHandler
					arguments:
						level: ::getenv(LOGGING_LEVEL)
						stream: 'php://stdout'
	hook:
		toTracy: false

session:
	debugger: true
	expiration: 14 days
	savePath: "%tempDir%/sessions"
